.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form__control {
  display: flex;
  width: 300px;
}

.form__button {
  display: flex;
  margin-top: 20px;
  background-color: aqua;
}
